* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0%;
    color: black;
    margin: 20px;
}

body {
    font-size: 30px;
}

#grad {
    background-image: linear-gradient(65deg, blanchedalmond, whitesmoke);
}

li {
    list-style-type: none;
    display: grid;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 30px;
    margin: 80px 80px 10px 60px;
}

main {
    text-align: left;
}

p {
    padding: 10px;
}

header,
footer {
    position: relative;
    top: 0;
}

section {
    margin: 0;
}

form {
    margin: 0;
    width: 0px;
    padding: 0px;
}

button {
    border-radius: 3px;
}

nav {
    padding-right: 70%;
}

.card {
    text-align: left;
    margin-left: 0%;
    transition: 0.3s;
    border-radius: 4px;
    width: 400px;
    height: 600px;
    border: 3px solid seashell;
}

.card:hover {
    box-shadow: 0px 12px 12px 0px sandybrown;
    border: sandybrown 3px solid;
}

.container {
    padding: 2px 20px;
}

img {
    max-width: 300px;
    border-radius: 3px;
}